body {
    text-align: center;
}

#aioimg {
    width: 800px;
}

#head {
    font-size: 30px;
    font-variant: small-caps;
    color: #6A1B9A;
}

#taj {
    font-size: 23px;
}

#chichen {
    font-size: 23px;
}

#china {
    font-size: 23px;
}

#machu {
    font-size: 23px;
}

#petra {
    font-size: 23px;
}

#christ {
    font-size: 23px;
}

#christimg {
    width: 250px;
}

#colo {
    font-size: 23px;
}